
html,
body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(250, 249, 244);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-content: center;
}
#wrap {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 180px;
}

.logo {
    float: left;
    vertical-align: top;
    padding-top: 10px;
    margin: 25px;
}
.inline-block {
    float: right;
    list-style-type: none;
    text-align: right;
    padding: 10px;
    margin: 0;
}
.inline-block li {
    display: inline-block;
    font-size: 30px;
    padding: 20px;
    color: rgb(62, 20, 21);
}
.header {
    clear: both;
    padding-bottom: 100px ;
    margin-bottom: auto;
   
}
.image {
    float: left;
    display: block;
    justify-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 00px;
    padding-left: 35px;
    padding-bottom: 0;
    
}
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
.name {
    display: flex;
    float: left;
    position: relative;
    padding-top: 325px;
    padding-left: 400px;
    padding-right: 200px;
    margin-top: auto;
    margin-left: auto;
}
.intro {
    font-size: 30px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;
    justify-content: right;
    align-items: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 00px;
    padding-top: 425px;
    padding-left: 750px;
    padding-right: 200px;
    padding-bottom: 0;
    color: rgb(96, 74, 50);

}
button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: rgb(250, 249, 244);
    background-color:rgb(62, 20, 21)
    
}
.heroImg {
    clear: both;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 1000px;
    width: 1000px;
}
.inline-block-2 {
    float: right;
    list-style-type: none;
    text-align: right;
    padding: 10px;
    margin: 0;
}
.inline-block-2 li {
    display: inline-block;
    font-size: 30px;
    padding: 20px;
    color: white;
}
.case-studies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(62, 20, 21);
    background-color: rgb(142, 154, 130);
    border-top: 10px solid rgb(54, 57, 30);
    border-bottom: 10px solid rgb(54, 57, 30);
    width: auto;
    height: 100px;
    font: bold;
    font-size: 50px;
}
.flexContainer {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(54, 57, 30);
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: auto;
}
.Angel-Paws {
    background-color: rgb(250, 249, 244);
    color: rgb(96, 74, 50);
    font: bolder;
    width: 900px;
    border: 10px solid rgb(142, 154, 130);
    padding: 25px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;
    justify-content:space-around
}
.Angel-Paws > h3 {
    font-size: 36px;
    font:bolder;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}
.NSA {
    background-color: rgb(250, 249, 244);
    color: rgb(96, 74, 50);
    font: bolder;
    width: 900px;
    border: 10px solid rgb(142, 154, 130);
    padding: 25px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;
    justify-content:space-around
}
.NSA > h3 {
    font-size: 36px;
    font:bolder;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}
.Skills > image {
    float: left;
    display: block;
    justify-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 00px;
    padding-left: 35px;
    padding-bottom: 0;
}
.about-section { grid-area: about;}
.grad { grid-area: img;}
.SkillsSec { grid-area: skills;}


.SkillsGrid {
    display: grid;
    grid-template-areas:
        'about about about about about about'
        'img img skills skills skills skills'
        'img img skills skills skills skills';
        gap: 10px;
        padding: 10px;
}
.SkillsGrid > div {
    text-align: center;
    padding: 20px 0;
    font-size: 26px;
}
.footer {
    background: rgb(62, 20, 21);
    color:white;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    flex-grow: 1;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .socials {
    float: left;
    vertical-align:top;
    padding-bottom: 10px;
    margin: 25px;
}
@media (max-width:600) {
    .footer ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    }
}
@media only screen and (max-width:600) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
        .about-section { grid-area: about;}
        .grad { grid-area: img;}
        .SkillsSec { grid-area: skills;}


        .SkillsGrid {
            display: grid;
            grid-template-areas:
                'about'
                'img'
                'skills';
                gap: 10px;
             padding: 10px;
            }
        .SkillsGrid > div {
            text-align: center;
            padding: 20px 0;
            font-size: 26px;
        }



    
}